*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

a:hover{
    cursor: pointer;
}

aside li:hover{
    background-color: #828f98;
}

.fa-bell{
    color: #ff8f00;
}

input[type="search"],
div.input-group-text{
    background-color: #e5e5e5;
}
main{
    height: calc(100vh - 54px);
}

main>div{
    overflow: auto;
}

.right-column,
.offcanvas.offcanvas-end div{
    height: fit-content;
}

.offcanvas.offcanvas-end{
    width: 700px;
}

aside{
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.main-top-left span{
    background-color: #165bba;
}

#todo{
    height: fit-content;
}


@media screen and (max-width:1199px){
    
    .offcanvas.offcanvas-end{
        width: 100%;
    }
}